<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Presence observation is opt-in; applications declare their own CompanionDeviceService. -->
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-feature android:name="android.software.companion_device_setup" android:required="false" />
</manifest>
